
<html><head>
  <meta http-equiv="content-type" content="text/html; charset=windows-1252">
  <style>
      #gk1 { position: absolute; visibility: visible; left: 100px; top:220px; z-index: 200; }
      #gk2 { position: absolute; visibility: visible; left: 100px; top:300px; z-index: 200; }
      #def1 { position: absolute; visibility: visible; left: 250px; top:100px; z-index: 200; }
      #def2 { position: absolute; visibility: visible; left: 250px; top:180px; z-index: 200; }
      #def3 { position: absolute; visibility: visible; left: 250px; top:260px; z-index: 200; }
      #def4 { position: absolute; visibility: visible; left: 250px; top:340px; z-index: 200; }
      #def5 { position: absolute; visibility: visible; left: 250px; top:420px; z-index: 200; }

      #mid1 { position: absolute; visibility: visible; left: 400px; top:100px; z-index: 200; }
      #mid2 { position: absolute; visibility: visible; left: 400px; top:180px; z-index: 200; }
      #mid3 { position: absolute; visibility: visible; left: 400px; top:260px; z-index: 200; }
      #mid4 { position: absolute; visibility: visible; left: 400px; top:340px; z-index: 200; }
      #mid5 { position: absolute; visibility: visible; left: 400px; top:420px; z-index: 200; }

      #fwd1 { position: absolute; visibility: visible; left: 550px; top:180px; z-index: 200; }
      #fwd2 { position: absolute; visibility: visible; left: 550px; top:260px; z-index: 200; }
      #fwd3 { position: absolute; visibility: visible; left: 550px; top:340px; z-index: 200; }
      #ff {position: absolute; z-index: 200;}
      #FieldView {position: relative; visibility: visible; top: 60px;}

      /* Style the list */
      ul.tab {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;
      }

      /* Float the list items side by side */
      ul.tab li {float: left;}

      /* Style the links inside the list items */
      ul.tab li a {
          display: inline-block;
          color: black;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          transition: 0.3s;
          font-size: 17px;
      }

      /* Change background color of links on hover */
      ul.tab li a:hover {background-color: #ddd;}

      /* Create an active/current tablink class */
      ul.tab li a:focus, .active {background-color: #ccc;}

      /* Style the tab content */
      .tabcontent {
          display: none;
          padding: 6px 12px;
          border: 1px solid #ccc;
          border-top: none;
      }
  </style>
</head>
<body>

<h2 class='User_Header'> <%= @current_user.username%> <%= link_to "Profile", sessions_profile_path %> </h2>
<%= flash[:notice] %>
<ul class="tab">
  <li><a class="tablinks" onclick="openView(event, 'ListView')">List View</a></li>
  <li><a class="tablinks" onclick="openView(event, 'FieldView')">Field View</a></li>
</ul>
<script>
    function openView(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>
<div id="FieldView" class="tabcontent">
  <!--<img id = "ff" src="/images/football field.jpg" alt="Football Field Image">-->
  <% if gks[0] %>
    <div id='gk1'> <%= gks[0].full_name %> </div>
  <% else %>
    <div id="gk1"> <%= button_to 'Add goalkeeper', fetch_players_path(:position => :GK), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
  <% end %>

  <% if gks[1] %>
    <div id='gk2'> <%= gks[1].full_name %> </div>
  <% else %>
    <div id="gk2"> <%= button_to 'Add goalkeeper', fetch_players_path(:position => :GK), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
  <% end %>

  <% if defs[0] %>
    <div id='def1'> <%= defs[0].full_name %> </div>
  <% else %>
    <div id="def1"> <%= button_to 'Add defender', fetch_players_path(:position => :DEF), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
  <% end %>

  <% if defs[1] %>
      <div id='def2'> <%= defs[1].full_name %> </div>
    <% else %>
      <div id="def2"> <%= button_to 'Add defender', fetch_players_path(:position => :DEF), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
    <% end %>

  <% if defs[2] %>
        <div id='def3'> <%= defs[2].full_name %> </div>
      <% else %>
        <div id="def3"> <%= button_to 'Add defender', fetch_players_path(:position => :DEF), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
      <% end %>

  <% if defs[3] %>
        <div id='def4'> <%= defs[3].full_name %> </div>
          <% else %>
            <div id="def4"> <%= button_to 'Add defender', fetch_players_path(:position => :DEF), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
          <% end %>

  <% if defs[4] %>
        <div id='def5'> <%= defs[4].full_name %> </div>
          <% else %>
            <div id="def5"> <%= button_to 'Add defender', fetch_players_path(:position => :DEF), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
          <% end %>

  <% if mids[0] %>
        <div id='mid1'> <%= mids[0].full_name %> </div>
          <% else %>
            <div id="mid1"> <%= button_to 'Add midfielder', fetch_players_path(:position => :MID), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
          <% end %>


  <% if mids[1] %>
        <div id='mid2'> <%= mids[1].full_name %> </div>
          <% else %>
            <div id="mid2"> <%= button_to 'Add midfielder', fetch_players_path(:position => :MID), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
          <% end %>

  <% if mids[2] %>
        <div id='mid3'> <%= mids[2].full_name %> </div>
          <% else %>
            <div id="mid3"> <%= button_to 'Add midfielder', fetch_players_path(:position => :MID), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
          <% end %>


  <% if mids[3] %>
        <div id='mid4'> <%= mids[3].full_name %> </div>
          <% else %>
            <div id="mid4"> <%= button_to 'Add midfielder', fetch_players_path(:position => :MID), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
          <% end %>

  <% if mids[4] %>
       <div id='mid5'> <%= mids[4].full_name %> </div>
         <% else %>
           <div id="mid5"> <%= button_to 'Add midfielder', fetch_players_path(:position => :MID), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
         <% end %>

   <% if fwds[0] %>
         <div id='fwd1'> <%= fwds[0].full_name %> </div>
           <% else %>
             <div id="fwd1"> <%= button_to 'Add forward', fetch_players_path(:position => :FWD), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
           <% end %>
   <% if fwds[1] %>
         <div id='fwd2'> <%= fwds[1].full_name %> </div>
           <% else %>
             <div id="fwd2"> <%= button_to 'Add forward', fetch_players_path(:position => :FWD), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
           <% end %>
   <% if fwds[2] %>
        <div id='fwd3'> <%= fwds[2].full_name %> </div>
          <% else %>
            <div id="fwd3"> <%= button_to 'Add forward', fetch_players_path(:position => :GK), remote: true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :method => :get %></div>
          <% end %>
<!-- Trigger the modal with a button -->

<!--Modal -->
<div id="myModal" class="modal fade" role="dialog">

</div>

</div>

<div id="ListView" class="tabcontent">
  <h3>Goalkeepers</h3>
  <ul>
    <li><%= link_to 'Add goalkeeper', fetch_players_path(:position => :GK), id: "players_list_link", remote: true %></li>
    <li><%= link_to 'Add goalkeeper', fetch_players_path(:position => :GK), id: "players_list_link", remote: true %></li>
  </ul>
  <h3>Defenders</h3>
  <ul>
    <li><%= link_to 'Add defender', fetch_players_path(:position => :DEF), id: "players_list_link", remote: true %></li>
    <li><%= link_to 'Add defender', fetch_players_path(:position => :DEF), id: "players_list_link", remote: true %></li>
    <li><%= link_to 'Add defender', fetch_players_path(:position => :DEF), id: "players_list_link", remote: true %></li>
    <li><%= link_to 'Add defender', fetch_players_path(:position => :DEF), id: "players_list_link", remote: true %></li>
    <li><%= link_to 'Add defender', fetch_players_path(:position => :DEF), id: "players_list_link", remote: true %></li>

  </ul>
  <h3>Midfielders</h3>
  <ul>
    <li><%= link_to 'Add midfielder', fetch_players_path(:position => :MID), id: "players_list_link", remote: true %></li>
    <li><%= link_to 'Add midfielder', fetch_players_path(:position => :MID), id: "players_list_link", remote: true %></li>
    <li><%= link_to 'Add midfielder', fetch_players_path(:position => :MID), id: "players_list_link", remote: true %></li>
    <li><%= link_to 'Add midfielder', fetch_players_path(:position => :MID), id: "players_list_link", remote: true %></li>
    <li><%= link_to 'Add midfielder', fetch_players_path(:position => :MID), id: "players_list_link", remote: true %></li>
  </ul>
  <h3>Forwards</h3>
  <ul>
    <li><%= link_to 'Add forward', fetch_players_path(:position => :FWD), id: "players_list_link", remote: true %></li>
    <li><%= link_to 'Add forward', fetch_players_path(:position => :FWD), id: "players_list_link", remote: true %></li>
    <li><%= link_to 'Add forward', fetch_players_path(:position => :FWD), id: "players_list_link", remote: true %></li>
  </ul>
</div>

<div id="logoutButton" style="position: absolute; top: 20px; right: 50px">
  <%= button_to 'Logout', 'logout' %>
</div>
</body></html>
