<style>
p  {
    color: black;
    font-family: courier;
    font-size: 160%;
}
.logoutButton {

}
</style>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @current_user.full_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @current_user.username %>
</p>

<p>
  <% if @current_user.gender %>
    <strong>Gender:</strong>
    <%= @current_user.gender %>
  <% end %>
</p>

<p>
  <% if @current_user.dob %>
    <strong>Dob:</strong>
    <%= @current_user.dob %>
  <% end %>
</p>

<p>
  <% if @current_user.age %>
    <strong>Age:</strong>
    <%= @current_user.age %>
  <% end %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @current_user.budget %>
</p>

<p>
  <strong>Email:</strong>
  <%= @current_user.email %>
</p>

<p>
  <% if @current_user.favClub %>
    <strong>Favclub:</strong>
    <%= @current_user.favClub %>
  <% end %>
</p>
<div id="logoutButton" style="position: absolute; top: 18px; right: 120px; font-size: 1.8em">
  <%= link_to 'Logout', 'logout', :method => :post %>
</div>
<%= button_to 'Edit profile', sessions_settings_path, :method => :get %>
