<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;

}
.s {
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color: #bcf1f2}
</style>


<h1>My players</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Issuspended</th>
    <th>Rating</th>
    <th>Age</th>
    <th>Value</th>
    <th>Goals</th>
    <th>Assists</th>
    <th>Cleansheets</th>
    <th>Saves</th>
    <th>Team</th>
  </tr>
  </thead>

  <tbody>
  <% players.each do |player| %>
      <tr>
        <td><%= link_to player.full_name, sell_player_path(:player_id => player.id), data: {confirm: "Are you sure you want to sell #{player.full_name}?"} %></td>
        <td><%= player.position %></td>
        <td><%= player.isSuspended %></td>
        <td><%= player.rating %></td>
        <td><%= player.age %></td>
        <td><%= player.value %></td>
        <td><%= player.goals %></td>
        <td><%= player.assists %></td>
        <td><%= player.cleanSheets %></td>
        <td><%= player.saves %></td>
        <% team = Team.find(player.team_id) %>
        <td><%= team.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
