<%= form_for(@assist, remote: true) do |f| %>
  <% if @assist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assist.errors.count, "error") %> prohibited this assist from being saved:</h2>

      <ul>
      <% @assist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :aTime %><br>
    <%= f.select :aTime, options_for_select((1..90).to_a.map{|s| ["#{s}", s]}) %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.collection_select :player_id, Player.all, :id, :full_name, :prompt => 'Select player' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
