<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;

}
.s {
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color: #bcf1f2}
</style>

<h1>Listing games</h1>

<table id="games_table">
  <thead>
    <tr>
      <th class="s">Date</th>
      <th class="s">Ateam</th>
      <th class="s">Bteam</th>
      <th class="s">Ascore</th>
      <th class="s">Bscore</th>
      <th class="s"></th>
      <th class="s"></th>
      <th class="s"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td class="s"><%= game.date %></td>
        <td class="s"><%= Team.find(game.aTeam).name %></td>
        <td class="s"><%= Team.find(game.bTeam).name %></td>
        <td class="s"><%= game.aScore %></td>
        <td class="s"><%= game.bScore %></td>
        <td class="s"><%= link_to 'Show', game %></td>
        <td class="s"><%= link_to 'Edit', edit_game_path(game) %></td>
        <td class="s"><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add game', new_game_path, id: "new_game_link", remote: true %>

<%= link_to 'New Game', new_game_path %>
