<%= form_for(@safe, remote: true) do |f| %>
  <% if @safe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@safe.errors.count, "error") %> prohibited this safe from being saved:</h2>

      <ul>
      <% @safe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :sTime %><br>
    <%= f.select :sTime, options_for_select((1..90).to_a.map{|s| ["#{s}", s]}) %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <% game = Game.find(@safe.game_id) %>
    <% aTeam_id = game.aTeam_id %>
    <% bTeam_id = game.bTeam_id %>
    <% players = Player.where('team_id = ? or team_id = ?',aTeam_id,bTeam_id) %>
    <%= f.collection_select :player_id, players, :id, :full_name, :prompt => 'Select player' %>  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
