<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fName %><br>
    <%= f.text_field :fName %>
  </div>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <!--<div class="field">
    <%= f.label :rating %><br>
    <%= f.select :rating, (50..100) %>
  </div>
  </div>
  <div class="field">
    <%= f.label :Team_id %><br>
    <%= f.collection_select :Team_id, Team.all, :id, :name, :prompt => 'Select team' %>-->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
