<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;

}
.s {
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color: #bcf1f2}
</style> class="s"


<h1>Listing players</h1>

<table>
  <thead>
  <tr>
    <th class="s">Name</th>
    <th class="s">Position</th>
    <th class="s">Rating</th>
    <th class="s">Age</th>
    <th class="s">Value</th>
  </tr>
  </thead>

  <tbody>
  <% @players.each do |player| %>
      <tr>
        <td class="s"><%= player.full_name %></td>
        <td class="s"><%= player.position %></td>
        <td class="s"><%= player.rating %></td>
        <td class="s"><%= player.age %></td>
        <td class="s"><%= player.value %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
