<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;

}
.s {
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color: #bcf1f2}
</style>



<!-- Modal -->
  <div class="modal-dialog">

<!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <h1>Listing players</h1>

        <table>
          <thead>
          <tr>
            <th class="s">Name</th>
            <th class="s">Position</th>
            <th class="s">Rating</th>
            <th class="s">Age</th>
            <th class="s">Value</th>
          </tr>
          </thead>

          <tbody>
          <% @selected.each do |player| %>

              <tr>
                <td class="s"><%= link_to player.full_name, controller: "players", action: "show", :id => player.id %></td>
                <td class="s"><%= player.position %></td>
                <td class="s"><%= player.rating %></td>
                <td class="s"><%= player.age %></td>
                <td class="s"><%= player.value %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Player', new_player_path if User.authenticate %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
