<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.full_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Is player suspended?:</strong>
  <%= @player.isSuspended %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @player.rating %>
</p>

<p>
  <strong>Age:</strong>
  <%= @player.age %>
</p>

<p>
  <strong>Value:</strong>
  <%= @player.value %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @player.goals %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @player.assists %>
</p>

<p>
  <strong>Cleansheets:</strong>
  <%= @player.cleanSheets %>
</p>

<p>
  <strong>Saves:</strong>
  <%= @player.saves %>
</p>

<p>
  <strong>Team:</strong>
  <%= Team.find(@player.team_id).name %>
</p>

</br>
<%= link_to 'Buy player', buy_player_path(:player_id => @player.id), data: {confirm: "Are you sure you want to buy #{@player.full_name}?"} if session[:user_id] %>
