<%= form_for(@goal, remote: true) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :game_ID %><br>
    <%= f.number_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :gTime %><br>
    <%= f.select :gTime, options_for_select((1..90).to_a.map{|s| ["#{s}", s]}) %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.text_field :player_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
