<!DOCTYPE html>
<html>
<head>
  <title>FantasyPremierLeague</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless action_name=='login' or action_name=='login_attempt' or action_name=='new'%>
<%= render 'shared/navbar'%>
<%= render 'shared/background'%>
<% end %>
<%= yield %>
<%= render 'logout' if User.authenticate %>


</body>
</html>
